.navigation {
  margin-bottom: 8rem;

  &__logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2rem;
    left: 2rem;
    // text-shadow: 1rem 1rem 4rem rgba(rgba(0, 0, 0, 0.788), 0.4);

    span {
      color: rgb(243, 241, 241);
      font-weight: 500;
      cursor: pointer;
      &::first-letter {
        font-size: 3rem;
      }
      transition: all 0.2s;
      &:hover {
        transform: translateY(-4px);
      }
    }
  }

  &__icon {
    margin-left: 0.5rem;
    font-size: 4rem;
    font-weight: 800;
    background-image: linear-gradient(
      to right bottom,
      rgb(209, 157, 194),
      rgb(161, 44, 152)
    );
    color: white;
  }
}
.home {
  height: 100vh;
  position: relative;
  border-radius: 1em;

  &__content {
    background-image: linear-gradient(
      to left bottom,
      #f7f5f1f8,
      rgb(207, 182, 207)
    );
    width: 60%;
    box-shadow: 1rem 1rem 4rem rgba(rgba(0, 0, 0, 0.788), 0.4);
    border-radius: 1em;
    margin: 0 auto;

    // position: absolute;
    // top: 55%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
}

@media (max-width: 90em) {
  .home {
    &__content {
      width: 90%;
    }
  }
}

@media (max-width: 90em) {
  .navigation {
    &__logo {
      left: 5rem;
      span {
        &::first-letter {
          font-size: 2rem;
        }
      }
    }
  }
}
