.expense-form {
  padding: 3em;
  background-color: rgb(161, 44, 152);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: space-around;

  &__control {
    width: 20rem;
    label {
      color: rgb(238, 220, 238);
      text-transform: uppercase;
      font-size: 0.8em;
      margin: 0 1em;
    }

    input {
      border: none;
      background: rgb(236, 225, 235);
      border-bottom: 2px solid white;
      width: 70%;
      color: #585252;
      padding: 0.5em;
      border-radius: 0.7em;

      &:focus {
        outline: none;
      }
    }
  }
  &__split {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    align-items: center;
    &--second {
      margin-left: -2em;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 50em) {
  .expense-form {
    &__control--amt {
      margin-top: 1em;
    }
    &__split {
      flex-direction: column;
      margin-top: 1em;
      &--second {
        margin-left: 1em;
      }
    }
  }
}

//BUTTON STYLING
