.expense-date {
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    rgb(197, 163, 188),
    rgb(161, 44, 152)
  );
  border-radius: 1rem;
  padding: 0.5em 1em;
  border: 1.5px solid white;
  color: white;
  text-transform: uppercase;
  gap: 0.4em;

  &__month {
    font-size: 0.8rem;
  }

  &__day {
    text-transform: lowercase;
  }
  &__year {
    font-size: 1rem;
  }
}

@media (max-width: 90em) {
  .expense-date {
    padding: 0.3rem 1rem;
    // flex-direction: column;

    &__month {
      font-size: 0.5rem;
    }

    &__day {
      font-size: 1rem;
    }

    &__year {
      font-size: 0.6rem;
    }
  }
}
